body{
    background-image: url(web.png);
    background-size: cover;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 30px;
}


#earlHeader{
    display: inline-block;
    font-size: xx-large;
    color: white;
}
nav{
    display: inline-block;
    text-align: right;
    text-decoration: none;
    width: 90%;
    
    
}

span{
    color: red;
}

a{
    text-decoration: none;
    color: aliceblue;
    padding-left: 25px;
}

a:hover{
    color: tomato;
}

div{
    width: 50%;
}

#spacing{
    height: 20%;
}

div{
    font-size: x-large;
    color: white;
}

#button{
    display: inline-block;
    color: white;
    background-color: red;
    border-radius: 5px;
    font-size: large;
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
    text-align: center;
    

}

#button:hover{
    background-color: wheat;
    color: black;
}
